body{
    margin: 0%;
    background-color: #FFDDD2;
    
}

nav{
    background-color: #83C5BE;
}

nav ul{
    list-style: none;
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1em;
}

nav ul li{
    background-color: #83C5BE;
    padding: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

nav a{
    font-size: x-large;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.currentPageTag {
    /* CUURENT PAGE NAV COLOUR*/
    background-color: #006D77;
    
    border-width: 0.05em;
    border-radius: 15px;
    border-bottom: solid;
}

.currentPageName {
    /* CUURENT PAGE TEXT NAV COLOUR*/
    color: #EDF6F9;
    opacity: 0.6;
}

header{

    text-align: center;

}

.header_titlebox{
    border-radius: 1em;
    background-color: #caedf8;
    padding: 10px;
    margin-right: 30%;
    margin-left: 30%;
}

header h1{
    font-style: italic;
}

article{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 60%;
}

.index_article{
    margin-top: 1em;
    margin-bottom: 2%
}

.coding_article{
    background-color: #caedf8;
    padding: 2%;
    margin: 2%;
    border-radius: 25px;
    justify-content: center;
}

.coding_col_third{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.left_side{
    background-color: #caedf8;
    display: flex;
    padding-right: 2%;
    padding-left: 1%;
    border-radius: 1em;
}
.left_side ul li{
    list-style: none;
    font-weight: bolder;
    font-size: large;
}

.left_side a{
    font-size: larger;
    text-decoration: none;
    color: #000000;
}

.left_side a:hover{
    color:#a51e56;
    font-weight: bold;
}

.right_side{
    background: #caedf8;
    padding: 1.5%;
    width: 30%;
    border-radius: 1em;
}

.right_side section{
    display: flex;
}

.right_side img{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.right_side ul{
    list-style: none;
    margin: 1em;
    background-color: #EDF6F9;
    border: solid;
    border-color: #FFDDD2;
    border-radius: 1em;
    border-width: 6px;
    padding: 1em;
    font-size: large;
}

.right_side a{
    text-decoration: none;
    color: #006D77;
}

.right_side a:hover{
    color:#a51e56;
    font-weight: bold;
}

.about_us_article{
    margin: 2em;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.member_box{
    background-color: #caedf8;
    text-align: center;
    margin: 1em;
    max-width: 800px;
}

.profile_pic{
    width: 15%;
    height: auto;

}

.socialTagLinkedin {
    width: 5%;
    height: auto;
}
.socialTagInstagram {
    width: 3%;
    height: auto;
}

.centreImg {
    display: flex;
    justify-content: center;
    align-items: center;
}

