                                        /*BODY*/
body{
    background-color: #FFDDD2;
    margin: 0%;
}

                                        /*NAV*/

nav {
    background-color: #83C5BE;
}

nav ul {
    list-style-type: none;
    width: auto;
    text-align: center;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
    padding: 1em;
    padding-right: 5%;
    padding-left: 5%;
    border-style: hidden;
    margin-left: 1.5%;
    margin-right: 1.5%;
    background-color: #83C5BE;
}

nav a {
    font-weight: bold;
    font-size: x-large;
    text-decoration: none;
    color:black;
}

.currentPageTag {
    /* CUURENT PAGE NAV COLOUR*/
    background-color: #006D77;
    
    border-width: 0.05em;
    border-radius: 15px;
    border-bottom: solid;
}

.currentPageName {
    /* CUURENT PAGE TEXT NAV COLOUR*/
    color: #EDF6F9;
    opacity: 0.4;
}
                                        /*ARTICLE*/

article {
    
    background-color: #EDF6F9;
    border-radius: 25px;
    margin: 3%;
    padding: 3%;
}

                                        /*SECTION*/
section {
    padding: 2%;
    margin: 1%;
}

                                        /*HEADER*/

header {
    text-align: center;
}

                                        /*ASIDE*/
aside section {
    display: inline-block;
    border: 2px solid black;
    border-radius: 25px;
}
aside section a {
    text-decoration: none;
    color: #006D77;
}
.moduleInformation {
    background-color: white;
}
                                        /*LISTS*/

.WeekNumber {
    font-weight: bold;
    list-style-type: none;
}                                        

article section dl dt a{
    text-decoration: none;
    color:black;
}
article section dl dt a:hover{
    color:#006D77;
    font-weight: bold;
}
     
article section dl dd a{
    text-decoration: none;
    color:black;
}
article section dl dd a:hover{
    color:#83C5BE;
    font-weight: bold;
}
                                        /*LAYOUT*/

.pushLeft {
    float: left;
    width: 50%;
    vertical-align: top;
}

.pushRight {
    float: right;
    width: 45%;
    vertical-align: top;
}

#VisualDesignImg {
    width: 40%;
    height: auto;
    display: block;
    margin: 2%;
    float: left;
}
#HtmlCssLogoHomePage{
    width:40%;
    height: auto;

    margin: 2%;
    float: right;
}

.passedActivity {
    text-decoration: line-through;
}